@font-face {
  font-family: "bebasregular";
  src: url("/fonts/bebas_regular_macroman/BEBAS___-webfont.eot");
  src: url("/fonts/bebas_regular_macroman/BEBAS___-webfont.eot")
      format("embedded-opentype"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.woff") format("woff2"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.woff") format("woff"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

/*HEADER*/
header {
  margin-top: 0;
  margin-bottom: 2%;
  text-align: center;
  background: rgb(250, 247, 247);
  padding: 2em;
}
.header-title {
 
  font-size: 7em;
  color: rgb(0, 0, 0);
}

/*NAV*/
ul.nav {
  font-family: "bebasregular";
  list-style-type: none;
  position: relative;
  left: 500px;
  top: 10px;
  margin-bottom: 3em;
}
.underbar {
  width: 0;
  height: 7px;
  background: rgba(100, 100, 200, 0);
  top: 20px;
  position: absolute;
  -webkit-transition: 0.2s ease;
}

li {
  width: 90px;
  float: left;
  -webkit-transition: 0.2s ease;
  cursor: pointer;
}

li:hover {
  color: #e03737;
}

li:nth-of-type(1):hover ~ .underbar {
  left: 65px;
  width: 40px;
  height: 3px;
  background: #e03737;
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(2):hover ~ .underbar {
  left: 149px;
  width: 40px;
  height: 3px;
  background: #e03737;
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(3):hover ~ .underbar {
  left: 245px;
  width: 40px;
  height: 3px;
  background: #e03737;
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(4):hover ~ .underbar {
  left: 325px;
  width: 50px;
  height: 3px;
  background: #e03737;
  box-shadow: 0 0 10px #0b7070;
}

/*NAV ENDS*/
/*HEADER ENDS*/

/*GLOBAL FLOATERS*/
.float-git {
  position: fixed;
  left: 220px;
  top: 250px;
  overflow: hidden;
}

.float-terrain {
  position: absolute;
  left: 895px;
  top: 90px;
  z-index: 1;
}

.float-terrain:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: initial;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.float-facebook {
  position: absolute;
  left: 230px;
  top: 499px;
}

.float-instagram {
  position: absolute;
  left: 310px;
  top: 490px;
}

/*FLOATERS END*/

/*GITHUB SECTION*/
#github {
  margin-left: 2em;
  padding: 1em;
  background: rgb(190, 190, 190);
  display: flex;
  width: 25%;
}

.git-h1,
.git-h2 {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #e03737;
  margin: 0;
}
/*GITHUB SECTION ENDS*/

/*SOCIAL MEDIA SECTION*/

.social-media {
  font-family: "bebasregular";
  letter-spacing: 1px;
  margin-top: 1em;
  margin-left: 2em;
  padding: 1em;
  background: rgb(190, 190, 190);
  display: flex;
  width: 25%;
  text-align: center;
  line-height: 1;
}

.social-p {
  color: #ffffff;
}

.social-h1 {
  color: #e03737;
  margin: 0;
}

.social-li,
.social-a {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.social-a:hover {
  color: #e03737;
}
/*SOCIAL MEDIA SECTION ENDS*/

/*ABOUT SECTION*/

.about-me {
  display: flex;
  position: absolute;
  top: 300px;
  left: 450px;
  width: 64.3%;
  background: rgb(190, 190, 190);
  padding: 1em;
}

.about-title {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #e03737;
  margin: 0;
  font-size: 4em;
}

.about-learn {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #e03737;
  margin: 0;
}

.about-li {
  list-style: none;
  word-spacing: 3em;
}

.about-info {
  text-align: center;
}

.span-about {
  color: #e03737;
}
/*ABOUT SECTION ENDS*/

/*-----PROJECTS PAGE------*/
/*Projects Section*/
#projects {
  margin-bottom: 2em;
}

.projects-h1{
  font-family: "bebasregular";
  color: #e03737;
  text-align: center;
}

.projects-h2{
  font-family: "bebasregular";
  color: #e03737;
  text-align: center;
}

.projects-p {
  margin-left: 10em;
  margin-right: 10em;
  font-size: 20px;
  text-align: center;
}

.projects-hr {
  width: 20%;
}
/*Projects Section Ends*/

/*WEBSHOW SECTION*/
#webshow {
text-align: center;
margin-top: 0;
}

/*WEBSHOW SECTION ENDS*/

/*FOOTER*/

footer {
  background: rgb(190, 190, 190);
  border-top: #e03737 3px solid;
  padding: 1.5em;
  margin-top: 2%;
  text-align: center;
  color: #e03737;
  font-family: "bebasregular";
}

.footer-span {
  color: #000000;
  font-family: "bebasregular";
}
/*FOOTER ENDS*/
