@font-face {
  font-family: "bebasregular";
  src: url("/fonts/bebas_regular_macroman/BEBAS___-webfont.eot");
  src: url("/fonts/bebas_regular_macroman/BEBAS___-webfont.eot")
      format("embedded-opentype"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.woff") format("woff2"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.woff") format("woff"),
    url("/fonts/bebas_regular_macroman/BEBAS___-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: lightgray;
  font-family: Arial;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/*HEADER*/
header {
  margin-top: 2%;
  text-align: center;
  background: rgb(190, 190, 190);
  padding: 2em;
  margin: 2em;
}
.header-title {
  font-family: "bebasregular";
  font-size: 7em;
  color: rgba(15, 8, 102, 0.219);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.11);
  background-image: url("/img/moon.jpg");
  background-repeat: repeat-x;
  background-size: 2000px;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}

/*NAV*/
ul.nav {
  list-style-type: none;
  position: relative;
  left: 420px;
  top: 20px;
  margin-bottom: 2em;
}
.underbar {
  width: 0;
  height: 7px;
  background: rgba(100, 100, 200, 0);
  top: 20px;
  position: absolute;
  -webkit-transition: 0.2s ease;
}

li {
  width: 90px;
  float: left;
  -webkit-transition: 0.2s ease;
  cursor: pointer;
}

li:nth-of-type(1):hover ~ .underbar {
  left: 65px;
  width: 40px;
  height: 3px;
  background: #1414b6;
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(2):hover ~ .underbar {
  left: 149px;
  width: 40px;
  height: 3px;
  background: #e03737;
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(3):hover ~ .underbar {
  left: 245px;
  width: 40px;
  height: 3px;
  background: rgba(150, 250, 250, 0.5);
  box-shadow: 0 0 10px #0b7070;
}
li:nth-of-type(4):hover ~ .underbar {
  left: 325px;
  width: 50px;
  height: 3px;
  background: rgba(150, 250, 250, 0.5);
  box-shadow: 0 0 10px #00e000;
}

/*NAV ENDS*/
/*HEADER ENDS*/

/*GLOBAL FLOATERS*/
.float-git {
  position: absolute;
  left: 220px;
  top: 260px;
}

.float-terrain {
  position: absolute;
  left: 895px;
  top: 80px;
  z-index: 1;
}

.float-facebook {
  position: absolute;
  left: 230px;
  top: 540px;
}

.float-instagram {
  position: absolute;
  left: 310px;
  top: 530px;
}

/*FLOATERS END*/

/*GITHUB SECTION*/
#github {
  margin-left: 2em;
  padding: 1em;
  background: rgb(190, 190, 190);
  display: flex;
  width: 25%;
}

.git-h1,
.git-h2 {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}
/*GITHUB SECTION ENDS*/

/*SOCIAL MEDIA SECTION*/

.social-media {
  font-family: "bebasregular";
  letter-spacing: 1px;
  margin-top: 1em;
  margin-left: 2em;
  padding: 1em;
  background: rgb(190, 190, 190);
  display: flex;
  width: 25%;
  text-align: center;
  line-height: 1;
}

.social-p {
  color: #ffffff;
}

.social-h1 {
  color: #ffffff;
  margin: 0;
}

.social-li,
.social-a {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.social-a:hover {
  color: #e03737;
}
/*SOCIAL MEDIA SECTION ENDS*/

/*ABOUT SECTION*/

.about-me {
  display: flex;
  position: absolute;
  top: 300px;
  left: 450px;
  width: 64.3%;
  background: rgb(190, 190, 190);
  padding: 1em;
}

.about-title {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
  font-size: 4em;
}

.about-learn {
  font-family: "bebasregular";
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}

.about-li {
  list-style: none;
  word-spacing: 3em;
}

.about-info {
  text-align: center;
}

.span-about {
  color: #e03737;
}
/*ABOUT SECTION ENDS*/
